Node-red/flows.json
[{"id":"4212209b.e007d","type":"tab","label":"SmartMeter","disabled":false,"info":""},{"id":"46da98a7.f95538","type":"debug","z":"4212209b.e007d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":220,"wires":[]},{"id":"1facdce5.57c363","type":"mqtt in","z":"4212209b.e007d","name":"","topic":"/ziggy/default","qos":"1","datatype":"auto","broker":"18e3ce0.9131e32","x":290,"y":220,"wires":[["46da98a7.f95538"]]},{"id":"9b70c7d4.bd59a8","type":"mqtt in","z":"4212209b.e007d","name":"RMS","topic":"/ziggy/BuildingTeste/+/RMS","qos":"1","datatype":"auto","broker":"18e3ce0.9131e32","x":270,"y":380,"wires":[["9de66355.42a3e","1d27101.efb4cf"]]},{"id":"f026ea18.078918","type":"ui_chart","z":"4212209b.e007d","name":"","group":"edbbdc1f.b0ac5","order":1,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#00a800","#ff7f0e","#f90000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":440,"wires":[[]]},{"id":"9de66355.42a3e","type":"function","z":"4212209b.e007d","name":"read_i","func":"meterTopic = msg.topic.split(\"/\")\n\nif (meterTopic[3] == flow.get(\"meter\")){\n    meas = msg.payload.split(\" \", 4)\n    \n    if(meas[0]==\"Current\"){\n        msg.topic = meas[1]\n        msg.payload = parseFloat(meas[3])\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["6b22735d.f8ba8c"]]},{"id":"1d27101.efb4cf","type":"function","z":"4212209b.e007d","name":"read_v","func":"meas = msg.payload.split(\" \", 4)\n\nif(meas[0]==\"Voltage\"){\n    msg.topic = meas[1]\n    msg.payload = parseFloat(meas[3])\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["f026ea18.078918"]]},{"id":"6b22735d.f8ba8c","type":"ui_chart","z":"4212209b.e007d","name":"","group":"43534d39.313e94","order":1,"width":0,"height":0,"label":"Current","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#008000","#ff7f0e","#f40000","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":380,"wires":[[]]},{"id":"3db21131.5d64fe","type":"change","z":"4212209b.e007d","name":"MeterChoice","rules":[{"t":"set","p":"meter","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[[]]},{"id":"8accf1f0.b331d","type":"ui_dropdown","z":"4212209b.e007d","name":"","label":"","tooltip":"","place":"Select meter","group":"e8aa5b0c.fe3d28","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Meter 0","value":"meter0","type":"str"},{"label":"Meter 1","value":"meter1","type":"str"},{"label":"Meter 2","value":"meter2","type":"str"},{"label":"Meter 3","value":"meter3","type":"str"}],"payload":"","topic":"/meterchoose/","x":280,"y":300,"wires":[["3db21131.5d64fe"]]},{"id":"18e3ce0.9131e32","type":"mqtt-broker","z":"","name":"Public-eclipse","broker":"mqtt://mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edbbdc1f.b0ac5","type":"ui_group","z":"","name":"Voltage","tab":"45912c5.cb220d4","order":2,"disp":false,"width":"10","collapse":false},{"id":"43534d39.313e94","type":"ui_group","z":"","name":"Current","tab":"45912c5.cb220d4","order":3,"disp":false,"width":10,"collapse":false},{"id":"e8aa5b0c.fe3d28","type":"ui_group","z":"","name":"SelectMeter","tab":"45912c5.cb220d4","order":1,"disp":true,"width":3,"collapse":false},{"id":"45912c5.cb220d4","type":"ui_tab","z":"","name":"RMS","icon":"dashboard","disabled":false,"hidden":false}]