Node-red/flows.json
[{"id":"4212209b.e007d","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"46da98a7.f95538","type":"debug","z":"4212209b.e007d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":220,"wires":[]},{"id":"1facdce5.57c363","type":"mqtt in","z":"4212209b.e007d","name":"","topic":"/ziggy/teste","qos":"1","datatype":"auto","broker":"18e3ce0.9131e32","x":290,"y":220,"wires":[["46da98a7.f95538"]]},{"id":"4348b474.c2bfac","type":"mqtt out","z":"4212209b.e007d","name":"","topic":"/topicGabriel2/test","qos":"1","retain":"","broker":"18e3ce0.9131e32","x":590,"y":300,"wires":[]},{"id":"238e24a0.3ff39c","type":"ui_button","z":"4212209b.e007d","name":"","group":"edbbdc1f.b0ac5","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello esp","payloadType":"str","topic":"","x":270,"y":300,"wires":[["4348b474.c2bfac"]]},{"id":"18e3ce0.9131e32","type":"mqtt-broker","z":"","name":"Public-eclipse","broker":"mqtt://mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"edbbdc1f.b0ac5","type":"ui_group","z":"","name":"Test","tab":"45912c5.cb220d4","disp":true,"width":"6","collapse":false},{"id":"45912c5.cb220d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]